# ignore all files except the with ! shown below
*

# Don't ignore these files (add files to push here)
!*.py
!README.md
!shell_scripts
!test_data.csv.gz
!stats.md
!Spark_NLP_Analysis.ipynb

# add your own custom shell scripts to the shell_scripts directoryl
**./shell_scripts/*